.login-forgot-pass {
    float: right;
    color: grey;
    cursor: pointer;
    margin: 15px 0px;
    text-decoration-line: unset;
  }
  .reset-button {
    border: none;
    height: 50px;
    float: right;
    outline: none;
    color: white;
    margin-top: 50px;
    font-size: 1.3rem;
    padding: 0px 30px;
    border-radius: 50px;
    margin-right: -140px;
    background-color: yellowgreen;
    box-shadow: 0px 5px 10px 0px #565454a8;
  }